$font-stack: 'Josefin Sans', sans-serif;
$primary-color: #424269;
$secondary-color: #6B7D3F;
$complimentary-color: #E6BB4B;
$lightest-color: white;
$dark-color: #38685A;
$accent-color: #BFB25E;


body {
  p, a {
    font-size: 1.1rem;
  }
  h2, h3, h4, h5 {
    text-align: center;
  }
}

.jumbotron {
  background-color: $primary-color;
  .navbar {
    background-color: $primary-color;
    color: $lightest-color;
  }
    a {
      color: $lightest-color;
      margin-right: 10px;
      font-family: $font-stack;
  }
}

.carousel-caption {
  background-color: rgba(0,0,0,0.5);
}

.box {
  padding: 10px;
  margin: 5px;
  p {
    text-align: center;
  }
}

.picture1 img, .picture2 img {
  width: 100%;
}

.overview, .info, .meeting-room {
  background-color: $secondary-color;
  color: $lightest-color;
}

.catering {
  background-color: #E6BB4B;
  color: rgb(36, 68, 59);
}

.menu {
  background-color: #BFB25E;
  color: rgb(36, 68, 59);
}

.eco-friendly {
  background-color: $dark-color;
  color: $lightest-color;
}

.footer {
  background-color: $primary-color;
  width: 100%;
  color: $lightest-color;
  text-align: center;
  h4 {
    color: $complimentary-color;
  }
  a {
    color: $lightest-color;
    font-size: 0.8rem;
  }
}

a:hover {
  background-color: $dark-color;
  text-decoration: none;
}

#page-header {
  text-align: center;
  color: #38685A;
  font-weight: bolder;
}

.card {
  .card-header {
    background-color: $secondary-color;
    color: $lightest-color;
    p {
      text-align: center;
    }
    .card-header:hover {
      background-color: rgb(72, 83, 42);
    }
  }

  .card-body {
    background-color: $accent-color;
    color: rgb(36, 68, 59);
    p  {
    text-align: center;
    }
    .extras {
      border-top: 1px solid $dark-color;
      border-bottom: 1px solid $dark-color;
      padding-top: 10px;
      margin-bottom: 10px;
    }
    .more {
      padding-top: 20px;
    }
  }
}

.about-us {
  background-color: #E6BB4B;
  color: #424269;
}

.contact-us {
  background-color: #38685A;
  color: rgb(219, 205, 109);
  a {
    color: #fff;
  }
  h1 {
    color: #E6BB4B;
  }
}

.btn {
  background-color: #38685A;
  color: #FFF;
}

.btn:hover {
  background-color: #26473e;
  color: #fff;
}

.btn a:hover {
  color: #fff;
  text-decoration: none;
}

.form-btn {
  background-color: #26473e;
}