body {
  font-family: 'Josefin Sans', sans-serif;
}

body p, a {
  font-size: 1.1rem;
}

.jumbotron {
  background-color: #424269;
}

.navbar {
  background-color: #424269;
  color: white;
}

.navbar a {
  color: white;
  margin-right: 10px;
  font-family: 'Josefin Sans', sans-serif;
}

.carousel-caption {
  background-color: rgba(0,0,0,0.5);
}

h2, h3, h4, h5 {
  text-align: center;
}

.box {
  padding: 10px;
  margin: 5px;
}

.box p {
  text-align: center;
}

.box a {
  color: #424269;
}

.picture1 img {
  width: 100%;
}

.picture2 img {
  width: 100%;
}

.overview, .info {
  background-color: #6B7D3F;
  color: #fff;
}

.catering {
  background-color: #E6BB4B;
}

.menu {
  background-color: #BFB25E;
}

.eco-friendly {
  background-color: #38685A;
  color: white;
}

.footer {
  background-color: #424269;
  width: 100%;
  color: white;
  text-align: center;
}

.footer h4 {
  color: #E6BB4B;
}

.footer a {
  color: white;
  font-size: 0.8rem;
}

a:hover {
  background-color: #38685A;
  opacity: 0.6;
  text-decoration: none;
}

.catering:hover, .menu:hover {
  opacity: 0.75;
}