body {
  font-family: 'Noto Sans TC', sans-serif;
}

.jumbotron {
  background-color: #6B7D3F;
}

img {
  border: 2px #734B21 solid;
}
.navbar {
  background-color: #6B7D3F;
  color: white;
}

.navbar a {
  color: white;
}

.carousel-caption {
  background-color: rgba(0,0,0,0.5);
}